#root {
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.view-tracks-container {
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack children vertically */
} 
.content-wrapper { 
  display: flex; /* Make the content wrapper a flex container */
  width:100%
} 