.home {
    margin: 0;
    position: absolute;
    width:50%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:left;
    line-height:2.0;
  }
h2 {
    color: #1db954;
}